<h1>UserRegistration</h1>
<h3>
<p>
use the standard <strong>test</strong> user
 and the <strong>test</strong> password to access the registration area at the link below.
</p>
</h3>
<ul>
<li>
<%= link_to "register",users_path%>
</li>
</ul>
<div>
<h4>Date: <%=Date.today%></h4>
</div>
